
@{
    ViewData["Title"] = "Blog";
}

<main>
    <section id="page-titles" class="page-titles">
        <div class="container page-titles__container">
            <div class="row page-titles__container__row">
                <div class="col-12 page-titles__container__row__column">
                    <h1>Blog</h1>
                    <a href="index.html" class="page-titles__container__row__column__link">
                        Home
                    </a><span class="page-titles__container__row__column__slash">/</span><span>Blog No Sidebar</span>
                </div>
            </div>
        </div>
    </section>

    <section id="blog-blogs" class="blog-blogs">
        <div class="container blog-blogs__container">
            <div class="row blog-blogs__container__row">

                <div class="col-xl-4 col-md-6 blog-prototype">
                    <div class="blog-prototype__image">
                        <img class="blog-prototype__image__img" src="~/assets/images/blogs/blog-1.webp"
                             alt="blog">
                    </div>
                    <div class="blog-prototype__info">
                        <a class="blog-prototype__info__title" href="single-blog.html">
                            Children Left Home Alone For 4 Days In TV Series Experiment
                        </a>
                        <p class="blog-prototype__info__date">
                            <strong>By:</strong>Admin, <strong>On:</strong> 14.07.2029
                        </p>
                        <a class="blog-prototype__info__read-more" href="single-blog.html">
                            Read more...
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 blog-prototype">
                    <div class="blog-prototype__image">
                        <img class="blog-prototype__image__img" src="~/assets/images/blogs/blog-2.webp"
                             alt="blog">
                    </div>
                    <div class="blog-prototype__info">
                        <a class="blog-prototype__info__title" href="single-blog.html">
                            Children Left Home Alone For 4 Days In TV Series Experiment
                        </a>
                        <p class="blog-prototype__info__date">
                            <strong>By:</strong>Admin, <strong>On:</strong> 14.07.2029
                        </p>
                        <a class="blog-prototype__info__read-more" href="single-blog.html">
                            Read more...
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 blog-prototype">
                    <div class="blog-prototype__image">
                        <img class="blog-prototype__image__img" src="~/assets/images/blogs/blog-3.webp"
                             alt="blog">
                    </div>
                    <div class="blog-prototype__info">
                        <a class="blog-prototype__info__title" href="single-blog.html">
                            Children Left Home Alone For 4 Days In TV Series Experiment
                        </a>
                        <p class="blog-prototype__info__date">
                            <strong>By:</strong>Admin, <strong>On:</strong> 14.07.2029
                        </p>
                        <a class="blog-prototype__info__read-more" href="single-blog.html">
                            Read more...
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 blog-prototype">
                    <div class="blog-prototype__image">
                        <img class="blog-prototype__image__img" src="~/assets/images/blogs/blog-3.webp"
                             alt="blog">
                    </div>
                    <div class="blog-prototype__info">
                        <a class="blog-prototype__info__title" href="single-blog.html">
                            Children Left Home Alone For 4 Days In TV Series Experiment
                        </a>
                        <p class="blog-prototype__info__date">
                            <strong>By:</strong>Admin, <strong>On:</strong> 14.07.2029
                        </p>
                        <a class="blog-prototype__info__read-more" href="single-blog.html">
                            Read more...
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 blog-prototype">
                    <div class="blog-prototype__image">
                        <img class="blog-prototype__image__img" src="~/assets/images/blogs/blog-1.webp"
                             alt="blog">
                    </div>
                    <div class="blog-prototype__info">
                        <a class="blog-prototype__info__title" href="single-blog.html">
                            Children Left Home Alone For 4 Days In TV Series Experiment
                        </a>
                        <p class="blog-prototype__info__date">
                            <strong>By:</strong>Admin, <strong>On:</strong> 14.07.2029
                        </p>
                        <a class="blog-prototype__info__read-more" href="single-blog.html">
                            Read more...
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 blog-prototype">
                    <div class="blog-prototype__image">
                        <img class="blog-prototype__image__img" src="~/assets/images/blogs/blog-2.webp"
                             alt="blog">
                    </div>
                    <div class="blog-prototype__info">
                        <a class="blog-prototype__info__title" href="single-blog.html">
                            Children Left Home Alone For 4 Days In TV Series Experiment
                        </a>
                        <p class="blog-prototype__info__date">
                            <strong>By:</strong>Admin, <strong>On:</strong> 14.07.2029
                        </p>
                        <a class="blog-prototype__info__read-more" href="single-blog.html">
                            Read more...
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pages-slides__container">
            <div class="row pages-slides__container__row">
                <div class="col-lg-12 pages-slides__container__row__column">
                    <div class="pages-slides__container__row__column__button">
                        <button href="#" class="pages-slides__container__row__column__button__btn">
                            <i class="fa-solid fa-angle-left"></i>
                        </button>
                        <button href="#" class="pages-slides__container__row__column__button__btn-active">
                            1
                        </button>
                        <button href="#" class="pages-slides__container__row__column__button__btn">
                            2
                        </button>
                        <button href="#" class="pages-slides__container__row__column__button__btn">
                            3
                        </button>
                        <button href="#" class="pages-slides__container__row__column__button__btn">
                            <i class="fa-solid fa-angle-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

