
@{
    ViewData["Title"] = "Cart";
}

<main>
    <section id="page-titles" class="page-titles">
        <div class="container page-titles__container">
            <div class="row page-titles__container__row">
                <div class="col-12 page-titles__container__row__column">
                    <h1>Cart</h1>
                    <a href="index.html" class="page-titles__container__row__column__link">
                        Home
                    </a><span class="page-titles__container__row__column__slash">/</span><span>Cart</span>
                </div>
            </div>
        </div>
    </section>
    <!-- Cart section starts -->
    <section class="cart">
        <div class="container cart__container">
            <div class="row cart__container__row">
                <div class="col-lg-12 cart__container__row__column ">
                    <div class="table-responsive cart__container__row__column__cus-table">
                        <table class="table table-borderless table-responsive cart__container__row__column__cus-table__table">
                            <thead class="cart__container__row__column__cus-table__table__head">
                                <tr class="cart__container__row__column__cus-table__table__head__row">
                                    <th class="cart__container__row__column__cus-table__table__head__row__title">Thumbnail</th>
                                    <th class="cart__container__row__column__cus-table__table__head__row__title">Product</th>
                                    <th class="cart__container__row__column__cus-table__table__head__row__title">Price</th>
                                    <th class="cart__container__row__column__cus-table__table__head__row__title">Quantity</th>
                                    <th class="cart__container__row__column__cus-table__table__head__row__title">Total</th>
                                    <th class="cart__container__row__column__cus-table__table__head__row__title">Remove</th>
                                </tr>
                            </thead>
                            <tbody class="cart__container__row__column__cus-table__table__body">
                                <!-- <tr class="cart__container__row__column__cus-table__table__body__row" id="">
                                    <td class="cart__container__row__column__cus-table__table__body__row__link">
                                        <a href="single-product.html" class="cart__container__row__column__cus-table__table__body__row__link__image">
                                            <img class="cart__container__row__column__cus-table__table__body__row__link__image__img" src="assets/images/product-1 (1).webp" alt="product"/>
                                        </a>
                                    </td>
                                    <td class="cart__container__row__column__cus-table__table__body__row__title">
                                        <a href="single-product.html" class="cart__container__row__column__cus-table__table__body__row__title__link">
                                            <span class="cart__container__row__column__cus-table__table__body__row__title__link__name">Leather Mens Slipper</span>
                                        </a>
                                    </td>
                                    <td class="cart__container__row__column__cus-table__table__body__row__price">
                                        <span class="cart__container__row__column__cus-table__table__body__row__price__value">
                                            $295.00
                                        </span>
                                    </td>
                                    <td class="cart__container__row__column__cus-table__table__body__row__count">
                                        <div class="plus-minus">
                                            <button class="plus-minus__minus">-</button>
                                            <input class="plus-minus__value" type="text" value="1">
                                            <button class="plus-minus__plus">+</button>
                                        </div>
                                    </td>
                                    <td class="cart__container__row__column__cus-table__table__body__row__sub-total">
                                        <span class="cart__container__row__column__cus-table__table__body__row__sub-total__value">
                                            $295.00
                                        </span>
                                    </td>
                                    <td class="cart__container__row__column__cus-table__table__body__row__delete">
                                        <button class="cart__container__row__column__cus-table__table__body__row__delete__btn">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </button>
                                    </td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                    <div class="cart__container__row__column__coupon">
                        <form class="cart__container__row__column__coupon__form">
                            <input class="cart__container__row__column__coupon__form__input" type="text" placeholder="Enter Your Coupon Code" required />
                            <button class="custom-button"><a class="custom-button__link" href="#">Apply Coupon</a></button>
                        </form>
                        <div class="cart__container__row__column__coupon__button">
                            <button class="custom-button"><a class="custom-button__link" href="#">Update Cart</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row cart__container__row-payment">
                <div class="col-lg-5 cart__container__row-payment__column">
                    <div class="cart__container__row-payment__column__payment">
                        <h3 class="cart__container__row-payment__column__payment__title">Cart Totals</h3>
                        <div class="cart__container__row-payment__column__payment__info">
                            <div class="cart__container__row-payment__column__payment__info__item">
                                <span class="cart__container__row-payment__column__payment__info__item__static ">
                                    Sub Total
                                </span>
                                <span class="cart__container__row-payment__column__payment__info__item__sub-total _pro-sub-total">
                                    $0
                                </span>
                            </div>
                            <div class="cart__container__row-payment__column__payment__info__item">
                                <span class="cart__container__row-payment__column__payment__info__item__static">
                                    Shipping
                                </span>
                                <span class="cart__container__row-payment__column__payment__info__item__shipping _pro-shipping">
                                    $0
                                </span>
                            </div>
                            <div class="cart__container__row-payment__column__payment__info__item">
                                <span class="cart__container__row-payment__column__payment__info__item__static ">
                                    Total
                                </span>
                                <span class="cart__container__row-payment__column__payment__info__item__total _pro-total">
                                    $0
                                </span>
                            </div>
                        </div>
                    </div>
                    <button class="custom-button"><a class="custom-button__link" href="#">Proceed Checkout</a></button>
                </div>
            </div>
        </div>
    </section>

</main>

