
@{
    ViewData["Title"] = "Contact_Us";
}

<main>
    <section id="page-titles" class="page-titles">
        <div class="container page-titles__container">
            <div class="row page-titles__container__row">
                <div class="col-12 page-titles__container__row__column">
                    <h1>Contact Us</h1>
                    <a href="index.html" class="page-titles__container__row__column__link">
                        Home
                    </a><span class="page-titles__container__row__column__slash">/</span><span>Contact Us</span>
                </div>
            </div>
        </div>
    </section>
    <section id="contact-us-contact" class="contact-us-contact">
        <div class="container contact-us-contact__container">
            <div class="row contact-us-contact__container__row">
                <div class="col-lg-6 contact-us-contact__container__row__column">
                    <h2 class="contact-us-contact__container__row__column__title">tell us your project</h2>
                    <form class="contact-us-contact__container__row__column__form">
                        <div class="row contact-us-contact__container__row__column__form__row">
                            <div class="col-lg-6 col-md-6 col-sm-6 contact-us-contact__container__row__column__form__row__column">
                                <input placeholder="Name *" type="text" required>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 contact-us-contact__container__row__column__form__row__column">
                                <input placeholder="Phone *" type="text" required>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 contact-us-contact__container__row__column__form__row__column">
                                <input placeholder="Email *" type="text" required>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 contact-us-contact__container__row__column__form__row__column">
                                <input placeholder="Subject *" type="text">
                            </div>
                            <div class="col-12 contact-us-contact__container__row__column__form__row__column">
                                <div class="contact-us-contact__container__row__column__form__row__column__text">
                                    <textarea placeholder="Message *" class="contact-us-contact__container__row__column__form__row__column__text__txt-area" required></textarea>
                                </div>
                                <div class="contact-us-contact__container__row__column__form__row__column__button">
                                    <button class="contact-us-contact__container__row__column__form__row__column__button__btn" type="submit">SEND MESSAGE</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 contact-us-contact__container__row__description">
                    <div class="contact-us-contact__container__row__description__info">
                        <h2 class="contact-us-contact__container__row__description__info__title">contact us</h2>
                        <p class="contact-us-contact__container__row__description__info__article">
                            Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum
                            est notare quam littera gothica, quam nunc putamus parum claram anteposuerit litterarum
                            formas human.
                        </p>
                        <ul class="contact-us-contact__container__row__description__info__list">
                            <li class="contact-us-contact__container__row__description__info__list__item"><i class="fa-solid fa-fax"></i> Address : No 40 Baria Sreet 133/2 NewYork City</li>
                            <li class="contact-us-contact__container__row__description__info__list__item"><i class="fa-solid fa-phone"></i> info@yourdomain.com</li>
                            <li class="contact-us-contact__container__row__description__info__list__item"><i class="fa-regular fa-envelope"></i> +88013245657</li>
                        </ul>
                        <div class="contact-us-contact__container__row__description__info__date">
                            <h3>Working Hours</h3>
                            <span class="contact-us-contact__container__row__description__info__date__day">
                                Monday – Saturday:
                            </span>
                            <span>
                                08AM – 22PM
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

