
@{
    ViewData["Title"] = "Product Details";
}

 <main>
        <section id="page-titles" class="page-titles">
            <div class="container page-titles__container">
                <div class="row page-titles__container__row">
                    <div class="col-12 page-titles__container__row__column">
                        <h1>Shop</h1>
                        <a href="index.html" class="page-titles__container__row__column__link">
                            Home
                        </a>
                        <span class="page-titles__container__row__column__slash">
                            /
                        </span>
                        <a href="shop.html" class="page-titles__container__row__column__link">
                            Shop
                        </a>
                        <span class="page-titles__container__row__column__slash">
                            /
                        </span>
                        <span>Product Details</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- Single-product section starts -->
        <section id="single-product" class="single-product">
            <div class="container single-product__container">
                <div class="row single-product__container__row">
                    <div class="col-lg-5 single-product__container__row__column">
                        <div class="single-product__container__row__column__zoom">
                            <div class="slider-for single-product__container__row__column__zoom__focus ">
                                <div class="image-zoom col-12 single-product__container__row__column__zoom__focus__image"
                                    data-scale="1.6">
                                    <img target="_self"
                                        class="dslc-lightbox-image image-zoom__img single-product__container__row__column__zoom__focus__image__img"
                                        src="~/assets/images/zoom/product-details-img1.webp" alt="shoe">
                                </div>
                                <div class="image-zoom col-12 single-product__container__row__column__zoom__focus__image"
                                    data-scale="1.6">
                                    <img class="image-zoom__img single-product__container__row__column__zoom__focus__image__img"
                                        src="~/assets/images/zoom/product-details-img2.webp" alt="shoe">
                                </div>
                                <div class="image-zoom col-12 single-product__container__row__column__zoom__focus__image"
                                    data-scale="1.6">
                                    <img class="image-zoom__img single-product__container__row__column__zoom__focus__image__img"
                                        src="~/assets/images/zoom/product-details-img3.webp" alt="shoe">
                                </div>
                                <div class="image-zoom col-12 single-product__container__row__column__zoom__focus__image"
                                    data-scale="1.6">
                                    <img class="image-zoom__img single-product__container__row__column__zoom__focus__image__img"
                                        src="~/assets/images/zoom/product-details-img4.webp" alt="shoe">
                                </div>
                            </div>
                            <div class="slider-nav single-product__container__row__column__zoom__nav">
                                <div class="col-3 single-product__container__row__column__zoom__nav__image">
                                    <img class="single-product__container__row__column__zoom__nav__image__img"
                                        src="~/assets/images/zoom/product-details-img1.webp" alt="shoe1">
                                </div>
                                <div class="col-3 single-product__container__row__column__zoom__nav__image">
                                    <img class="single-product__container__row__column__zoom__nav__image__img"
                                        src="~/assets/images/zoom/product-details-img2.webp" alt="shoe1">
                                </div>
                                <div class="col-3 single-product__container__row__column__zoom__nav__image">
                                    <img class="single-product__container__row__column__zoom__nav__image__img"
                                        src="~/assets/images/zoom/product-details-img3.webp" alt="shoe1">
                                </div>
                                <div class="col-3 single-product__container__row__column__zoom__nav__image">
                                    <img class="single-product__container__row__column__zoom__nav__image__img"
                                        src="~/assets/images/zoom/product-details-img4.webp" alt="shoe1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 single-product__container__row__column">
                        <div class="single-product__container__row__column__info">
                            <div class="single-product__container__row__column__info__text">
                                <h3 class="single-product__container__row__column__info__text__title">
                                    Primitive Mens Premium Shoes
                                </h3>
                                <span class="single-product__container__row__column__info__text__review">
                                    Review(s)
                                </span>
                                <div class="single-product__container__row__column__info__text__prices">
                                    <span
                                        class="single-product__container__row__column__info__text__prices__actual-price">
                                        $70.00
                                    </span>
                                    <span class="single-product__container__row__column__info__text__prices__old-price">
                                        <del>$80.00</del>
                                    </span>
                                </div>
                                <p class="single-product__container__row__column__info__text__article">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.<br>
                                    Phasellus id nisi quis justo tempus mollis sed et dui. In hac habitasse platea
                                    dictumst. Suspendisse ultrices mauris diam. Nullam sed aliquet elit. Mauris
                                    consequat nisi ut mauris efficitur lacinia.
                                </p>
                            </div>
                            <div class="single-product__container__row__column__info__values">
                                <div class="single-product__container__row__column__info__values__count">
                                    <div class="plus-minus">
                                        <button class="plus-minus__minus">-</button>
                                        <input class="plus-minus__value" type="text" value="1">
                                        <button class="plus-minus__plus">+</button>
                                    </div>
                                    <button class="custom-button">
                                        <a href="cart.html" class="custom-button__link">
                                            Add To Cart
                                        </a>
                                    </button>
                                </div>
                                <div class="single-product__container__row__column__info__values__available">
                                    <h5 class="single-product__container__row__column__info__values__available__title">
                                        Availability:
                                    </h5>
                                    <span
                                        class="single-product__container__row__column__info__values__available__stock">
                                        In Stock
                                    </span>
                                </div>
                            </div>
                            <div class="single-product__container__row__column__info__social-button">
                                <h5 class="single-product__container__row__column__info__social-button__title">Share:
                                </h5>
                                <button class="single-product__container__row__column__info__social-button__btn">
                                    <a class="single-product__container__row__column__info__social-button__link"
                                        href="#">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </a>
                                </button>
                                <button class="single-product__container__row__column__info__social-button__btn">
                                    <a class="single-product__container__row__column__info__social-button__link"
                                        href="#">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                </button>
                                <button class="single-product__container__row__column__info__social-button__btn">
                                    <a class="single-product__container__row__column__info__social-button__link"
                                        href="#">
                                        <i class="fa-brands fa-pinterest"></i>
                                    </a>
                                </button>
                                <button class="single-product__container__row__column__info__social-button__btn">
                                    <a class="single-product__container__row__column__info__social-button__link"
                                        href="#">
                                        <i class="fa-brands fa-google-plus-g"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container single-product__container">
                <div class="row single-product__container__info-row">
                    <div class="col-lg-12 single-product__container__info-row__column">
                        <div class="single-product__container__info-row__column__buttons">
                            <a class="single-product__container__info-row__column__buttons__button _active-info-btn">
                                description
                            </a>
                            <a class="single-product__container__info-row__column__buttons__button">
                                information
                            </a>
                            <a class="single-product__container__info-row__column__buttons__button">
                                reviews
                            </a>
                        </div>
                        <div class="single-product__container__info-row__column__container">
                            <div class="single-product__container__info-row__column__container__desk">
                                <div class="single-product__container__info-row__column__container__desk__description _active-info-item">
                                    <p class="single-product__container__info-row__column__container__desk__description__top-article">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est
                                        tristique auctor. Ipsum metus feugiat sem, quis fermentum turpis eros eget velit.
                                        Donec ac tempus ante. Fusce ultricies massa massa. Fusce aliquam, purus eget
                                        sagittis vulputate, sapien libero hendrerit est, sed commodo augue nisi non neque.
                                    </p>
                                    <div class="single-product__container__info-row__column__container__desk__description__image-list">
                                        <div
                                            class="single-product__container__info-row__column__container__desk__description__image-list__image">
                                            <img src="~/assets/images/zoom/services.webp" alt="shoe"
                                                class="single-product__container__info-row__column__container__desk__description__image-list__image__img">
                                        </div>
                                        
                                        <ul
                                            class="single-product__container__info-row__column__container__desk__description__image-list__list">
                                            <h3>Product Information :</h3>
                                            <li
                                                class="single-product__container__info-row__column__container__desk__description__image-list__list__item">
                                                <span>
                                                    Donec non est at libero vulputate rutrum
                                                </span>
                                            </li>
                                            <li
                                                class="single-product__container__info-row__column__container__desk__description__image-list__list__item">
                                                <span>
                                                    Morbi ornare lectus quis justo gravida
                                                </span>
                                            </li>
                                            <li
                                                class="single-product__container__info-row__column__container__desk__description__image-list__list__item">
                                                <span>
                                                    Pellentesque aliquet, sem eget laoreet
                                                </span>
                                            </li>
                                            <li
                                                class="single-product__container__info-row__column__container__desk__description__image-list__list__item">
                                                <span>
                                                    Donec a neque libero
                                                </span>
                                            </li>
                                            <li
                                                class="single-product__container__info-row__column__container__desk__description__image-list__list__item">
                                                <span>
                                                    Pellentesque aliquet, sem eget laoreet
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <p
                                        class="single-product__container__info-row__column__container__desk__description__bottom-article">
                                        Cras neque metus, consequat et blandit et, luctus a nunc. Etiam gravida vehicula
                                        tellus, in imperdiet ligula euismod eget. Pellentesque habitant morbi tristique
                                        senectus et netus et malesuada fames ac turpis egestas. Nam erat mi, rutrum at
                                        sollicitudin rhoncus, ultricies posuere erat. Duis convallis,<br>
                                        arcu nec aliquam consequat, purus felis vehicula felis, a dapibus enim lorem nec
                                        augue. Nunc facilisis sagittis ullamcorper.
    
                                        Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem
                                        nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                                        cubilia Curae; Aenean eleifend laoreet congue. Vivamus adipiscing nisl ut dolor
                                        dignissim semper. Nulla luctus malesuada tincidunt.
                                    </p>
                                </div>
                                <div class="single-product__container__info-row__column__container__desk__info">
                                    <table class="single-product__container__info-row__column__container__desk__info__table">
                                        <tbody
                                            class="single-product__container__info-row__column__container__desk__info__table__content">
                                            <tr
                                                class="single-product__container__info-row__column__container__desk__info__table__content__row">
                                                <td
                                                    class="single-product__container__info-row__column__container__desk__info__table__content__row__data">
                                                    Color
                                                </td>
                                                <td
                                                    class="single-product__container__info-row__column__container__desk__info__table__content__row__data">
                                                    Black, Blue, Red
                                                </td>
                                            </tr>
                                            <tr
                                                class="single-product__container__info-row__column__container__desk__info__table__content__row">
                                                <td
                                                    class="single-product__container__info-row__column__container__desk__info__table__content__row__data">
                                                    Size
                                                </td>
                                                <td
                                                    class="single-product__container__info-row__column__container__desk__info__table__content__row__data">
                                                    L, M, S
                                                </td>
                                            </tr>
    
                                        </tbody>
    
                                    </table>
                                </div>
                                <div class="single-product__container__info-row__column__container__desk__reviews">
                                    <h5 class="single-product__container__info-row__column__container__desk__reviews__title">
                                        1 Review For
                                        <span>
                                            Chaz Kangeroo Hoodies
                                        </span>
                                    </h5>
                                    <div class="single-product__container__info-row__column__container__desk__reviews__comment">
                                        <div
                                            class="single-product__container__info-row__column__container__desk__reviews__comment__image">
                                            <img src="~/assets/images/avatar.webp" alt="user"
                                                class="single-product__container__info-row__column__container__desk__reviews__comment__image__img">
                                        </div>
                                        <div
                                            class="single-product__container__info-row__column__container__desk__reviews__comment__text">
                                            <p
                                                class="single-product__container__info-row__column__container__desk__reviews__comment__text__star">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </p>
                                            <span>
                                                Admin - 30 Nov, 2018
                                            </span>
                                            <p>
                                                Aliquam fringilla euismod risus ac bibendum. Sed sit amet sem varius ante
                                                feugiat lacinia. Nunc ipsum nulla, vulputate ut venenatis vitae, malesuada
                                                ut mi. Quisque iaculis, dui congue placerat pretium, augue erat accumsan
                                                lacus
                                            </p>
                                        </div>
                                    </div>
                                    <form class="single-product__container__info-row__column__container__desk__reviews__form">
                                        <label for="name">
                                            <span>*</span>Your Name
                                        </label>
                                        <input class="single-product__container__info-row__column__container__desk__reviews__form__item" type="text" name="name" required>
                                        <label for="mail">
                                            <span>*</span>Your Email
                                        </label>
                                        <input class="single-product__container__info-row__column__container__desk__reviews__form__item" type="text" name="mail" required>
                                        <label for="review">
                                            <span>*</span>Your Review
                                        </label>
                                        <textarea name="review" id="" cols="30" rows="2" class="single-product__container__info-row__column__container__desk__reviews__form__item" required></textarea>
                                        <p><span>Note:</span> HTML is not translated!</p> 
                                        <div class="single-product__container__info-row__column__container__desk__reviews__form__quality">
                                            <span>*</span> <span>Rating</span>
                                            <label for="quality">Bad</label>
                                            <input type="radio" name="quality" >
                                            <input type="radio" name="quality" >
                                            <input type="radio" name="quality" >
                                            <input type="radio" name="quality" >
                                            <input type="radio" name="quality" >
                                            <label for="quality">Good </label>
                                        </div> 
                                        <input type="submit" value="Continue" class="single-product__container__info-row__column__container__desk__reviews__form__submit">              
                                    </form>
    
    
                                </div>
                            </div>
                        </div>
                        
                    </div>


                </div>
            </div>

        </section>

        
        <!-- main-products section starts -->
        <section id="main-products" class="main-products">
            <div class="container main-products__container">
                <div class="row main-products__container__row">
                    <div class="main-products__container__row__title">
                        <h2>
                            Our Product
                        </h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                        </p>
                    </div>
                    <div class=" owl-carousel owl-theme main-products__container__row__carousel">
                        <div class="item">
                            <div class="product-prototype ">
                                <a href="single-product.html" class="product-prototype__image">
                                    <img src="~/assets/images/products/product-1.webp" alt="product"
                                        class="product-prototype__image__img _img-pro">
                                </a>
                                <div class="product-prototype__info">
                                    <h5 class="product-prototype__info__name">
                                        <a href="single-product.html" class="product-prototype__info__name__link _name-pro">
                                            Leather Mens shoes
                                        </a>

                                    </h5>
                                    <span class="product-prototype__info__actual-price _price-pro">
                                        $<span>80.00</span>
                                    </span>
                                    <del class="product-prototype__info__old-price">
                                        $70.00$
                                    </del>
                                </div>
                                <div class="product-prototype__buttons">
                                    <button type="button" class="product-prototype__buttons__btn-wishlist "
                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-custom-class="custom-tooltip" title="Wishlist">
                                        <i class="fa-regular fa-heart"></i>
                                    </button>
                                    <button type="button" class="product-prototype__buttons__btn-chart _btn-pro" id="pro1"
                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-custom-class="custom-tooltip" title="Add To Chart">
                                        <i class="fa-solid fa-bag-shopping"></i>
                                    </button>
                                    <button type="button" class="product-prototype__buttons__btn-view _quick-btn "
                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-custom-class="custom-tooltip" title="Quick View">
                                        <i class="fa-regular fa-eye"></i>
                                    </button>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="product-prototype ">
                                <a href="single-product.html" class="product-prototype__image">
                                    <img src="~/assets/images/products/product-2.webp" alt="product"
                                        class="product-prototype__image__img _img-pro">
                                </a>
                                <div class="product-prototype__info">
                                    <h5 class="product-prototype__info__name">
                                        <a href="single-product.html" class="product-prototype__info__name__link _name-pro">
                                            Quickiin Mens shoes
                                        </a>
                                    </h5>
                                    <span class="product-prototype__info__actual-price _price-pro">
                                        $<span>80.00</span>
                                    </span>
                                    <del class="product-prototype__info__old-price">
                                        $70.00$
                                    </del>
                                </div>
                                <div class="product-prototype__buttons">
                                    <button type="button" class="product-prototype__buttons__btn-wishlist "
                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-custom-class="custom-tooltip" title="Wishlist">
                                        <i class="fa-regular fa-heart"></i>
                                    </button>
                                    <button type="button" class="product-prototype__buttons__btn-chart _btn-pro" id="pro2"
                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-custom-class="custom-tooltip" title="Add To Chart">
                                        <i class="fa-solid fa-bag-shopping"></i>
                                    </button>
                                    <button type="button" class="product-prototype__buttons__btn-view _quick-btn "
                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-custom-class="custom-tooltip" title="Quick View">
                                        <i class="fa-regular fa-eye"></i>
                                    </button>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="product-prototype ">
                                <a href="single-product.html" class="product-prototype__image">
                                    <img src="~/assets/images/products/product-3.webp" alt="product"
                                        class="product-prototype__image__img _img-pro">
                                </a>
                                <div class="product-prototype__info">
                                    <h5 class="product-prototype__info__name">
                                        <a href="single-product.html" class="product-prototype__info__name__link _name-pro">
                                            Rexpo Womens shoes
                                        </a>
                                    </h5>
                                    <span class="product-prototype__info__actual-price _price-pro">
                                        $<span>80.00</span>
                                    </span>
                                    <del class="product-prototype__info__old-price">
                                        $70.00$
                                    </del>
                                </div>
                                <div class="product-prototype__buttons">
                                    <button type="button" class="product-prototype__buttons__btn-wishlist "
                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-custom-class="custom-tooltip" title="Wishlist">
                                        <i class="fa-regular fa-heart"></i>
                                    </button>
                                    <button type="button" class="product-prototype__buttons__btn-chart _btn-pro" id="pro3"
                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-custom-class="custom-tooltip" title="Add To Chart">
                                        <i class="fa-solid fa-bag-shopping"></i>
                                    </button>
                                    <button type="button" class="product-prototype__buttons__btn-view _quick-btn "
                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-custom-class="custom-tooltip" title="Quick View">
                                        <i class="fa-regular fa-eye"></i>
                                    </button>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="product-prototype ">
                                <a href="single-product.html" class="product-prototype__image">
                                    <img src="~/assets/images/products/product-4.webp" alt="product"
                                        class="product-prototype__image__img _img-pro">
                                </a>
                                <div class="product-prototype__info">
                                    <h5 class="product-prototype__info__name">
                                        <a href="single-product.html" class="product-prototype__info__name__link _name-pro">
                                            Primitive Mens shoes
                                        </a>
                                    </h5>
                                    <span class="product-prototype__info__actual-price _price-pro">
                                        $<span>80.00</span>
                                    </span>
                                    <del class="product-prototype__info__old-price">
                                        $70.00
                                    </del>
                                </div>
                                <div class="product-prototype__buttons">
                                    <button type="button" class="product-prototype__buttons__btn-wishlist "
                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-custom-class="custom-tooltip" title="Wishlist">
                                        <i class="fa-regular fa-heart"></i>
                                    </button>
                                    <button type="button" class="product-prototype__buttons__btn-chart _btn-pro" id="pro4"
                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-custom-class="custom-tooltip" title="Add To Chart">
                                        <i class="fa-solid fa-bag-shopping"></i>
                                    </button>
                                    <button type="button" class="product-prototype__buttons__btn-view _quick-btn "
                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-custom-class="custom-tooltip" title="Quick View">
                                        <i class="fa-regular fa-eye"></i>
                                    </button>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="product-prototype ">
                                <a href="single-product.html" class="product-prototype__image">
                                    <img src="~/assets/images/products/product-5.webp" alt="product"
                                        class="product-prototype__image__img _img-pro">
                                </a>
                                <div class="product-prototype__info">
                                    <h5 class="product-prototype__info__name">
                                        <a href="single-product.html" class="product-prototype__info__name__link _name-pro">
                                            Leather Mens Slipper
                                        </a>

                                    </h5>
                                    <span class="product-prototype__info__actual-price _price-pro">
                                        $<span>80.00</span>
                                    </span>
                                    <del class="product-prototype__info__old-price">
                                        $70.00
                                    </del>
                                </div>
                                <div class="product-prototype__buttons">
                                    <button type="button" class="product-prototype__buttons__btn-wishlist "
                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-custom-class="custom-tooltip" title="Wishlist">
                                        <i class="fa-regular fa-heart"></i>
                                    </button>
                                    <button type="button" class="product-prototype__buttons__btn-chart _btn-pro" id="pro5"
                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-custom-class="custom-tooltip" title="Add To Chart">
                                        <i class="fa-solid fa-bag-shopping"></i>
                                    </button>
                                    <button type="button" class="product-prototype__buttons__btn-view _quick-btn "
                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-custom-class="custom-tooltip" title="Quick View">
                                        <i class="fa-regular fa-eye"></i>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>





    </main>
